.logo {
  position: relative;
  width: 80px;
  margin: 0 auto;
}

.logo img {
  height: 80px;
}

.animated-logo {
  animation: App-logo-spin infinite 20s linear;
}

.locked-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
